div.panels {
    width: 80%;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    min-height: 80vh;
}

div.workspaces {
    width: 20%;
    background-color: rgb(240, 240, 240);
    border-right: 1px solid #ccc;
    padding: 5px;
    min-height: 40rem;
    h3 {
        text-align: center;
        font-weight: 700;
    }
}
