<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div>
    <div class="panels">
        <div class="workspaces">
            <h3>ESPACIOS DE TRABAJO</h3>
            <hr/>
            <button mat-button (click)="openCrateWorkspaceDialog()">
                <mat-icon>add</mat-icon>
                Agregar espacio de trabajo
            </button>

            <mat-list>
                <mat-list-item
                    *ngFor="let space of workspaces"
                    class="cursor-pointer"
                    [ngClass]="[ workspace && space._id === workspace._id ? 'actived' : '']"
                    matRipple
                    [routerLink]="'/home/' + space._id "
                >
                    {{ space.name }}
                </mat-list-item>
            </mat-list>
        </div>

        <div class="boards">
            <div class="flex justify-between">
                <h3>TABLEROS</h3>
                <div class="menu">
                    <button mat-raised-button color="warn" (click)="openCrateWorkspaceDialog()">
                        <mat-icon>add</mat-icon>
                        Agregar espacio de trabajo
                    </button>
                </div>
            </div>
            <hr>

            <div class="no-workspace" *ngIf="!workspace">
                Seleccione un espacio de trabajo para continuar!
            </div>

            <div class="boards-list" *ngIf="workspace">
                <mat-card class="new-board cursor-pointer" mat-ripple>
                    <div class="flex align-center" >
                        <mat-icon>add</mat-icon>
                        <span>Agregar nuevo tablero</span>
                    </div>
                </mat-card>

            </div>
        </div>
    </div>
</div>
