<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../../assets/img/registe.png" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
      <mat-card class="card">
        <mat-card-title>Sign up</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <input
                [(ngModel)]="registerData.name"
                matInput
                placeholder="Name and lastname"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                [(ngModel)]="registerData.email"
                type="email"
                matInput
                placeholder="Email"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                [(ngModel)]="registerData.password"
                type="password"
                matInput
                placeholder="Password"
                required
                (keyup.enter)="registerUser()"
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="registerUser()" class="button" mat-raised-button>
            Sign up
          </button>
        </mat-card-actions>
      </mat-card>
      </div>
    </div>
  </div>
  