<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<h1 mat-dialog-title>
    <span>¿Está seguro que desea eliminar </span>
    <span *ngIf="data.module === 'tasks'">la tarea</span>
    <span *ngIf="data.module === 'lists'">la lista</span>
    <span *ngIf="data.module === 'boards'">el tablero</span>
    <span> {{data.data.name}}? </span>

</h1>

<div mat-dialog-actions class="justify-end">
    <button type="button" mat-raised-button (click)="onNoClick()" [disabled]="loading">Cancelar</button>
    <button type="button" mat-raised-button color="warn" (click)="delete()" [disabled]="loading">Eliminar</button>
</div>
