<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../../../../assets/img/login2.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <mat-card class="card">
        <mat-card-title>Sign In</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <input [(ngModel)]="loginData.email" type="email" matInput placeholder="Email:     @example.com"
                required />

            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="loginData.password" type="password" matInput placeholder="Password" required
                (keyup.enter)="login()" />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="login()" class="button" mat-raised-button>Sign In</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>