<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<h1 mat-dialog-title> Modificar lista </h1>

<div mat-dialog-content>
    <form (ngSubmit)="updateList($event)" id="task">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="list.name" name="name" required autofocus>
        </mat-form-field>
        <mat-form-field>
            <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr">
            <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions class="justify-end">
    <button type="button" mat-raised-button (click)="onNoClick()" [disabled]="loading">Cancelar</button>
    <button type="submit" form="task" mat-raised-button color="primary" [disabled]="loading">Guardar</button>
</div>
