/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0;
    overflow-x: hidden;
    background-position: center;
}

.cursor-pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.w-full {
    width: 100%;
}

.mb-2 {
    margin-bottom: 2rem;;
}

.mt-2 {
    margin-top: 50px;
}

.ml-2 {
    margin-left: 5px;
}

.font-bold {
    font-weight: 900;
}
