<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Easy Work</span>
    <span class="example-spacer"></span>
    <button *ngIf="isLoggedIn" routerLink="/home" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button *ngIf="!isLoggedIn" routerLink="/register" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
        Registro
      </button>
      <button *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>sigin</mat-icon>
        Login
      </button>
      <button *ngIf="isLoggedIn" (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
        Salir
      </button>
  </mat-toolbar> -->
<mat-toolbar class="toolbar" color="primary">
  <div class="item left">
    <div *ngIf="isLoggedIn">
      <a mat-button routerLink="/home"> <mat-icon>home</mat-icon> </a>
    </div>
  </div>

  <div class="item left">
    <div *ngIf="isLoggedIn && isAdmin" appearance="fill">
      <mat-form-field>
        <mat-label>Choose an admin option</mat-label>
        <mat-select>
          <mat-option
            value="option1"
            [routerLink]="'/user/' + user._id"
            >{{ user.name }}</mat-option
          >
          <mat-option value="option2" routerLink="/role/listRole"
            >Role</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="item logo">
    <h1>
      <a class="logo" routerLink="/">{{ "easy work" | titlecase }}</a>
    </h1>
  </div>

  <div class="item right">
    <ul *ngIf="!isLoggedIn">
      <li>
        <a mat-raised-button color="warn" routerLink="/register">
          Registrarse
        </a>
      </li>
      <li>
        <a mat-raised-button color="warn" routerLink="/login"> Ingresar </a>
      </li>
    </ul>

    <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="listMenu">
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #listMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Salir
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
